body{ 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  background-image: url(outputback_image.jpg) ;
    background-size: cover;
    background-position: center;
  color: white;
background-color:#000000;
  }

 .sub
  {
    width: 20%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: black;
  padding: 30px;
  margin:  8% auto 0;
  text-align: center;
}

 
     .sub2
  {
   width:auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
 
  padding: 30px;
  margin:  8% auto 0;
 text-align: center;
 border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: auto;
         cursor: -webkit-grab; cursor: grab;
}

 
 button
 {
  color: black;
  width:10%;
  padding: 30px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0 10px 150px;
  border: none;
  outline: none;
 cursor: -webkit-grab; cursor: grab;
 font-size: 150%;
 }
 .register_btn
 {
  background-color: red;
 }
 a
 {
  text-decoration: none;
 }
 hr
 {
  margin-top: 20px;
  width: 80%;
 }

 img
 {
  width: 70px;
 }


 h6 #header-manu
{
    background-color: red;
}



#header-manu2
 {
    padding: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
  border: 0px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 3px red;
  background-color: #000033;
  height: auto;
  width: auto;
  float: left;
  text-align: 10px;
  border-radius: 20px;
  border-radius: 20px;

}

 h4 #header-manu2
{
  color: white;
  background-color: blue;
}


#header-manu3
 {
    padding: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
  border: 0px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 3px white;
  background-color: #000033;
  height: auto;
  width: auto;
  float: left;
  text-align: 10px;
  border-radius: 20px;
  border-radius: 20px;
}

 h6 #header-manu3
{
    background-color: white;
}


